table{
    width: 100%;
  }
  
  
  .spacer{
    flex: 1 1 auto;
  }
  
  .mat-row {
    height: auto;
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
  }
  
  mat-spinner{
    margin: auto;
  }
  button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
  }
  .mat-sort-header-container {
    align-items: center;
  }
